<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <title><%= locals.title %> </title>
        <meta name="description" content="<%= locals.description %>">
    </head>
    <body>
        <h1><%= locals.title%></h1>
        <p><%= locals.description%></p>
    </body>
</html>